<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - SPAZASHOP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav>
    <h1 class="logo">OnileSpaza</h1>
    <ul class="nav-links">
        {% if g.user %}
            <li class="link"><span>{{ g.user['username'] }}</span>
            <li class="link"><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li class="link"><a href="{{ url_for('auth.register') }}">Register</a>
            <li class="link"><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<body>
    <div class="body-container">
        <div class="main-section">

            <div class="header">
                {% block header %}{% endblock %}
            </div>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <div class="content-section">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>