{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Online Spaza{% endblock %}</h1>
{% if g.user %}
<h2>debugging</h2>
{% endif %}
{% endblock %}

{% block content %}
    {% for product in products %}
        <article class="product">
        <header>
            <div>
                <h1>{{ product['id'] }}</h1>
                <h1>{{ product['product_name'] }}</h1>
                <h1>{{ product['price'] }}</h1>
            </div>
        </header>
        <p class="body">{{ product['body'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}

{% endblock %}